
	body{
		background:#000;
		margin:0;
		padding:0;
	}
	
	#mainContainer{
		height:auto;
		margin:-25px auto; /* this will center the page */
		padding-top:15px;
		width:1000px;
		box-shadow: 9px 0 12px -7px rgba(225, 226, 226, 0.8), -7px 0 12px -5px rgba(250, 251, 253, 0.8)
	}
	
	.heroBanner{
		min-height:400px;
		width:100%;
		background-image: url(../images/web.jpg);
		background-repeat: no-repeat;
		background-size: 100% auto;
	}

	.heroHeader {
		font-size: 3em;
		color: #aaaaaa;
		text-transform: uppercase;
		line-height: 1.1;
		font-weight: 700;
		width: 40%;
		padding: 20% 0 0 10%;
	}
	
	#navMenuBar{
		height:45px;
		padding:2px;
		box-sizing: border-box;
		border-radius: 5px;
		margin:20px;
		background:#222;
	}
	    
	
	#navMenuBar ul {
		list-style-type:none;
		margin:0;
		padding:3px;
		position: absolute;
		z-index: 10;
	}

	#navMenuBar li {
		display:inline-block;
		float: left;
		margin-right: 1px;
	}

	#navMenuBar li a {
		display:block;
		min-width:110px;
		height: 35px;
		text-align: center;
		line-height: 35px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight:bold;
		font-size: 13px;
		color: #aaaaaa;
		text-decoration: none;
		border-radius: 5px;
	}

	#navMenuBar li:hover a , #navMenuBar li:hover ul a:hover, .contentHeader:hover {
		color: #e6690d;
	}

	#navMenuBar li:hover ul a {
		color: #aaaaaa;
		height: 40px;
		line-height: 40px;
		min-width:100px;
		z-index: 4;
	}

	#navMenuBar li ul {
		display: none;
	}

	#navMenuBar li ul li {
		display: block;
		float: none;
		z-index: 4;
	}

	#navMenuBar li ul li a {
		width: auto;
		min-width: 100px;
		padding: 0;
		text-align: center;
	}

	#navMenuBar ul li:hover .dropDownMenu {
		display: block;
	}
/*
	ul li a:hover + .dropDownMenu, .dropDownMenu:hover {
		display: block;
	}
*/
	#toggleCheckBox, .toggleButton{
		display: none;
	}
	
	.showMenu{
		display: block;
	}

	.disableActiveLink {
      pointer-events: none;
      cursor: default;
    }	
	
    /*   ---------------------- MODAL --------------------------------  */
  
	.formRow{
		float: left;
		clear: both;
		width: 100%
	}

	.formLabel {
	    width: 25%;
	    display: inline-block;
	}

	.formField {
	    width: 70%;
	    padding: 5px 10px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}

	.formButton {
	    background-color: #585858;
	    width: 100px;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-weight: bold;
	    color: #d4d4d4;
	    padding: 5px 10px;
	    margin: 8px 0;
	    border: none;
	    border-radius: 4px;
	    cursor: pointer;
	}

  .modalWindow {
  	position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }

  .modalContent {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #444;
    border-radius:5px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  
  /* The Close Button */
  .closeButton {
    color: #d4d4d4;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }

  .closeButton:hover,
  .closeButton:focus {
    color: #e6690d;
    text-decoration: none;
    cursor: pointer;
  }

  .modalHeader {
    padding: 5px 16px;
    height:40px;
    font-size:20px;
    background-color: #585858;
    color: #d4d4d4;
  }

  .modalBody {
    padding: 20px;
  }
  
  .inputField {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .inputButton{
    width: 100%;
    background-color: #585858;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
    color: #d4d4d4;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .inputButton:hover {
    background-color: #e6690d;
  }

  	.thumb-image{
		float: left;
		width: 100px;
		position: relative;
		padding: 5px;
	}
	.selectedRowColor{
		background-color: #337ab7 !important;
		color:#fff;
		font-weight: bold;
	}
	@media screen and (max-width : 760px){
	
		#mainContainer{
			height:auto;
			width:100%;
			box-shadow: none;
		}
		
		.heroHeader {
			font-size: 2em;
			color: #fff;
			text-transform: uppercase;
			line-height: 1.1;
			font-weight: 700;
			width: 40%;
			padding: 25% 0 0 10%;
		}
		
		#navMenuBar ul {
			display: none;
			    width: 80%;
		}

		#navMenuBar li {
			margin-bottom: 1px;
		}

		#navMenuBar ul li, li a {
			width: 100%;
		}

		.toggleButton{
			display:block;
			float:right;
			color:#aaaaaa;
			background: #2f3036;
			width:30px;
			height:30px;
			border:1px solid #94cefd;
			border-radius:5px;
			padding:5px 3px 0 3px;
			text-align:center;
		}
	}
	
	.contentRow{
		width:100%;
		height:auto;
		padding:10px 0px 10px 10px;
		box-sizing: border-box;
		display: inline-block;
	}
	
	.contentHeader{
		color:#aaaaaa;
		width:100%;
		height:30px;
		background:#333;
		box-sizing: border-box;
		padding:5px;
	}
	
	
	.contentHeader p{
		margin:0;
	}
	
	.col-m-3{
		width:30.5%;
		height:150px;
		float:left;
		border:1px solid #333;
		margin:10px;
		border-radius:3px;
	}
	
	
	
	.footer{
		width:100%;
		height:200px;
	}