<div class="homepageContainer">
    <div class="heroBanner">
		<div class="heroContainer">
			<h1 class="heroHeader">My Web creations</h1>
		</div>
	</div><!-- END heroBanner -->
    <div class="pageHeader">
    <h1>My Web creations</h1>
   
    </div> 
    <div class="contentRow">
        	<div class="col-m-3">
            <div class="contentHeader">
                <p>Apps</p>
                
            </div>
            <div class="contentSection">
                <ul class="boxList">
                    <li><a ui-sref="crud">Angular CRUD</a></li>
                    <li><a href="app/views/calendarApp.html">Calendar</a></li>
                </ul>
            </div>
        </div>
        <div class="col-m-3">
            <div class="contentHeader">
                <p >Components</p>
            </div>
            <div class="contentSection">
                <ul class="boxList">
                    <li><a href="app/views/jstips.html#sliderComponent">Slider</a></li>
                    <li><a ui-sref="slider">Angular Slider</a></li>
					<li><a ui-sref="grid">Angular Grid</a></li>
					
                </ul>
            </div>
        </div>
        <div class="col-m-3">
            <div class="contentHeader">
                <p>Games</p>
            </div>
            <div class="contentSection">
                <ul class="boxList">
                    <li><a href="app/views/games/pacman.html">Pacmann</a></li>
                    <li><a href="app/views/games/fly.html">Fly</a></li>
                    <li><a href="app/views/games/BallonBursting.html">Ballon</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
