<div>
    <div class="pageHeader">
        <h1>Tutorial - AngularJS Slider</h1>
        <p>This page demonstrates <span class="text-danger">slider</span> and related topics.</p>   
    </div> 
    <ul class="greyFont">
        <li>$timeout service</li>
            <li>Share Data between controllers</li>
        <li>$destroy</li>
    </ul>
        
        <custom-slider images="images"> </custom-slider>
            
<hr>

        <div class="greyFont">
            <h4>Share Data between Controller </h4>
            <textarea  class="greyFont" ng-model="commonData" style="height:100px; width:100%; overflow:scroll;"></textarea>
            <input class="btn btn-info" value="Broadcast" ng-click="setCommonData()">
        </div>
<hr>
</div>