<div id="memberViewModal" class="modalWindow"  ng-show="showModal">
<div class="modalContent">
<div class="modalHeader">
  <span class="closeButton" ng-click="closeModal()">&times;</span>
  <span>Sign Innnnnn</span>
</div>
<div class="modalBody">
  <form>
    <div class="formRow">
    	<label class="formLabel" for="fname">First Name</label>
    	<input class="formField" type="text" id="fname" ng-model="selectedMember.firstName">
    </div>
    <div class="formRow">
    	<label class="formLabel" for="lname">Last Name</label>
    	<input class="formField" type="text" id="lname"  ng-model="selectedMember.lastName">
    </div>

    <div class="formRow">
    	<label class="formLabel" for="email">Email</label>
    	<input class="formField" type="text" id="email"  ng-model="selectedMember.email">
    </div>
    <div class="formRow">
    	<label class="formLabel" for="uname">Phone</label>
    	<input class="formField" type="text" id="phone"  ng-model="selectedMember.phone">
    </div>
    <input class="formButton" type="submit" value="Save" ng-click="saveMember(selectedMember)">
    <input class="formButton closeButton" value="Cancel" ng-click="closeModal()">
  </form>
</div>
</div>
</div><!-- END modal -->
 