<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>New Design</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/myWebCreationStyle.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
	<style type="text/css">
		
	.contentRow{
		background:#fff;
	}

	#navMenuBar{
		background:#000;
	}
	.formRow{
		float: left;
		clear: both;
		width: 100%
	}


	.formLabel {
	    width: 25%;
	    display: inline-block;
	}

	.formField {
	    width: 70%;
	    padding: 5px 10px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}

	.formButton {
	    background-color: #585858;
	    width: 100px;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-weight: bold;
	    color: #d4d4d4;
	    padding: 5px 10px;
	    margin: 8px 0;
	    border: none;
	    border-radius: 4px;
	    cursor: pointer;
	}

	.thumb-image{
		float: left;
		width: 100px;
		position: relative;
		padding: 5px;
	}

	.selectedRow{
		background-color: #b1a1a1 !important;
		color:#fff;
		font-weight: bold;
	}

	.hideModal{
		display: none;
	}
	</style>
	 
</head>
<body>

		<!-- ---------------------------------Main Container------------------------ -->
		<div id="mainContainer">
					
			<div id="navMenuBar">
				<label for="toggleCheckBox" class="toggleButton">☰</label>
				<ul id="menu">
					<li><a href="#">Home</a></li>
					<li><a href="jstips.html">HTML/CSS</a></li>
					<li><a class="dropDownHeader" href="crud1.html">CRUD</a></li>
					<li>
						<a class="dropDownHeader" href="#">Server</a>
						<ul class="dropDownMenu">
							<li><a href="#">NodeJS</a></li>
							<li><a href="#">PHP</a></li>
							<li><a href="#">Java</a></li>
							<li><a href="#">.Net</a></li>
						</ul>
					</li>
					<li>
						<a class="dropDownHeader" href="#">Database</a>
						<ul class="dropDownMenu">
							<li><a href="#">MongoDB</a></li>
							<li><a href="#">Cassandra </a></li>
							<li><a href="#">MySql</a></li>
							<li><a href="#">Oracle</a></li>
						</ul>
					</li>
				</ul>
			</div>
		

			
			<div class="contentRow">

			<div class="container" ng-controller="memberController">
				  <div class="row">
						<form method="post" action="php/uploadFiles/imageUploader.php" enctype="multipart/form-data">
							<span class="btn btn-primary">
								Browse...<input id="file" name="files[]" class="browseFile" type="file" multiple=""  />
							</span>
							<input id="fileCount" type="text" class="form-control" readonly=""></input>
							<div id="imageHolder"></div>
							<input type="submit" id="uploadButton"  class="btn btn-primary"></input>
						</form>
				    <div>
				          <p>First Name : <input type="text" ng-model="memberObj.firstName"></p>
				          <p>Last Name : <input type="text" ng-model="memberObj.lastName"></p>
				          <input type="submit" name="btnInsert" class="btn btn-info" ng-click="insertMember(memberObj)" value="ADD">
				          <input type="submit" name="btnGetMembers" class="btn btn-info" ng-click="getMembers()" value="Get Members">
				            <hr>
				              <my-directive></my-directive>
				            <hr>
				            <input type="submit" name="verifyMember" class="btn btn-info" ng-click="verifyMember()" value="Login">
				          <div class="clearfix"></div>

				    <!-- Table to show member detalis -->
				      <div class="table-responsive">
				        <table class="table table-hover">
				        <tr>
				          <th>Member ID</th>
				          <th>First Name</th>
				          <th>Last Name</th>
				          <th>Email</th>
				          <th>User Name</th>
				        </tr>
				        <tr ng-repeat="member in members| filter:search_query" ng-class="{selectedRow:$index == selectedRowIndex}" ng-dblclick="showMemberViewModal(member)">
				          <td><span>{{member.memberId}}</span></td>
				          <td>{{member.firstName}}</td>
				          <td>{{member.lastName}}</td>
				          <td>{{member.email}}</td>
				          <td>{{member.userName}}</td>
				        </tr>
				        </table>
				      </div>

				      <hr>
						<modal-dialog><p class="modal-title">Modal Content Goes here</p></modal-dialog>
				      
				    </div>
				            
				  </div>

				        <!-- /.row -->
					<div class="row">
						<input id="insertButton" class="btn btn-info" value="Insert" ng-click="clearMember()">
						<input id="editButton" class="btn btn-info" value="Edit">
						<button confirmed-click="deleteMember(selectedMember.memberId)" ng-confirm-click="Are you sure?">Delete</button>
						<input id="deleteButton" class="btn btn-info" value="Delete" ng-click="deleteMember(selectedMember.memberId)">
					
					</div>
					
				 <w3-test-directive></w3-test-directive>
				 <div class="loader ng-hide" data-loading style="position: absolute; left:0; top:0; width: 50px; height: 50px; background-color: red; border-radius: 50px;" ></div>
				
			</div>

          	

			<div class="footer"><div class="contentHeader"></div></div><!-- END Main Container -->
			
		</div><!-- END Main Container -->
	<script>
		(function(){
			$(document).on( "click", ".toggleButton", function() {
				console.log("togglebutton clicked----");
				$("#menu").toggleClass( "showMenu" );
			});

		
      
		})();
	</script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js"></script>
	  
	  <script src="app/app.js"></script>
	  <!-- <script src="app/services/MemberService.js"></script> -->
	  <script src="app/controller/memberController.js"></script>
	  <script src="app/services/memberFactory.js"></script>
	  <script src="app/directives/myDirective.js"></script>
	  <script src="js/imageUploader.js"></script>
</body>
</html>