<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Web Creations</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../css/myWebCreationStyle.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>

	.container {
		max-width: 1000px;
	}

	.crudContainer {
		position: relative;
		padding: 5px;
		width: 95%;
		margin: auto;
		margin-top: 40px;
	}

	</style>
</head>
<body ng-app="myApp">
	<!-- -Main Container -->
	<div id="mainContainer" ng-controller="memberController">
		<div id="navMenuBar">
			<label for="toggleCheckBox" class="toggleButton">☰</label>
			<ul id="menu">
				<li><a href="../../index.html">HOME</a></li>
				<li><a href="../../app/views/jstips.html">HTML/CSS</a></li>
				<li>
					<a class="dropDownHeader" href="#">ANGULARJS</a>
					<ul class="dropDownMenu">
						<li><a  class="disableActiveLink" href="../../app/views/crud.html">CRUD</a></li>
						<li><a href="../../app/views/customGrid.html">GRID</a></li>
						<li><a href="../../app/views/slider.html">SLIDER</a></li>
					</ul>
				</li>
				<li><a ng-click="showMemberLoginModal()" id="loginButton" href="#">LOGIN</a></li>
				
			</ul>
		</div>
			
			<div class="crudContainer" ng-init="init();">
				<h3>Tutorial AngularJS-PHP-MySQL CRUD Application</h3>
				<h5>Topics </h5>
				<ul>
					<li>Full stack Application</li>
					<li>MVC design</li>
					<li>Service & Factory</li>
					<li>Controller</li>
					<li>Connect to MySql database</li>
					<li>PHP API</li>
				</ul>
				<hr>

				<!-- Table to show member detalis -->
				<div class="table-responsive">
						<table class="table table-hover">
						<tr>
						<th>Member ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Phone</th>
						</tr>
						<!-- 
						selected-member="" directive-function="directiveCallBack(member, $index)"  
						ng-click="memberSingleClick(member, $index)"
					-->
						<tr ng-repeat="member in members| filter:search_query" ng-dblclick="showMemberViewModal(member)"  ng-class="{selectedRowColor: $index == selectedRowIndex}" ng-click="memberSingleClick(member, $index)" >
							<td><span>{{$index + 1}}</span></td>
							<td>{{member.firstName}}</td>
							<td>{{member.lastName}}</td>
							<td>{{member.email}}</td>
							<td>{{member.phone}}</td>
							</tr>
						</table>
				</div>
				<div class="clearfix"></div>
					<member-view-modal><p class="modal-title">Member View Modal Content Goes here</p></member-view-modal>
				    <div class="row" >
						<input class="btn btn-info" value="Insert" ng-click="insertButtonClicked()" ng-disabled="isButtonDisabled">
						<input class="btn btn-info" value="Edit" ng-click="editButtonClicked()" ng-disabled="isButtonDisabled">
						<input class="btn btn-danger" value="Delete" ng-click="deleteButtonClicked()" ng-disabled="isButtonDisabled">
					
					</div>	
					<br>
					<br>
					 <div class="row" >
					</div>	
					<div class="clearfix"></div> 
					<div class="row">
						<form method="post" action="../../php/uploadFiles/imageUploader.php" enctype="multipart/form-data">
							<span class="btn btn-primary">
								Browse...<input id="file" name="files[]" class="browseFile" type="file" multiple=""  />
							</span>
							<input type="submit" id="uploadButton"  class="btn btn-primary" value="Upload"></input>
							<div id="imageHolder"></div>
						</form>
					</div>	
		<div class="footer"></div><!-- END Main Container -->
		<login-modal><p class="modal-title">Modal Content Goes here</p></login-modal>
	</div><!-- END Main Container -->
	<script>
		(function(){
			$(document).on( "click", ".toggleButton", function() {
				console.log("togglebutton clicked----");
				$("#menu").toggleClass( "showMenu" );
			});
		})();
	</script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	  
	  <script src="../../app/app.js"></script>
	  <!-- <script src="app/services/MemberService.js"></script> -->
	  <script src="../../app/controller/memberController.js"></script>
	  <script src="../../app/services/memberFactory.js"></script>
	  <script src="../../js/imageUploader.js"></script>
</body>
</html>